In [1]:
import pandas as pd

In [ ]:
df=pd.read_html('https://www.rbi.org.in/Scripts/BS_ViewMMO.aspx')

In [9]:
df[2]

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,"(Amount in ₹ crore, Rate in Per cent)","(Amount in ₹ crore, Rate in Per cent)","(Amount in ₹ crore, Rate in Per cent)","(Amount in ₹ crore, Rate in Per cent)"
2,NaN,NaN,NaN,NaN
3,MONEY MARKETS@,NaN,NaN,NaN
4,NaN,Volume (One Leg),Weighted Average Rate,Range
5,A. Overnight Segment (I+II+III+IV),579199.63,6.48,5.00-6.80
6,I. Call Money,12503.25,6.54,5.10-6.70
7,II. Triparty Repo,398599.90,6.43,6.20-6.80
8,III. Market Repo,166728.48,6.58,5.00-6.80
9,IV. Repo in Corporate Bond,1368.00,6.66,6.65-6.75
10,B. Term Segment,NaN,NaN,NaN
11,I. Notice Money**,99.00,6.05,6.00-6.40
12,II. Term Money@@,348.50,-,6.80-7.50
13,III. Triparty Repo,4234.60,6.56,6.35-6.65
14,IV. Market Repo,618.95,6.70,6.69-6.78
15,V. Repo in Corporate Bond,0.00,-,-